[submodule "submodules/omniverse-synchronizer"]
	path = submodules/omniverse-synchronizer
	url = git@github.com:Omniverse-Web3-Labs/omniverse-synchronizer.git
[submodule "submodules/omniverse-evm"]
	path = submodules/omniverse-evm
	url = git@github.com:Omniverse-Web3-Labs/omniverse-evm
[submodule "submodules/omniverse-database"]
	path = submodules/omniverse-database
	url = git@github.com:Omniverse-Web3-Labs/omniverse-database
