[submodule "submodules/omniverse-synchronizer"]
	path = submodules/omniverse-synchronizer
	url = https://github.com/Omniverse-Web3-Labs/omniverse-synchronizer.git
[submodule "submodules/omniverse-evm"]
	path = submodules/omniverse-evm
	url = https://github.com/Omniverse-Web3-Labs/omniverse-evm.git
[submodule "submodules/omniverse-database"]
	path = submodules/omniverse-database
	url = https://github.com/Omniverse-Web3-Labs/omniverse-database.git
