[submodule "submodules/omniverse-synchronizer"]
	path = submodules/omniverse-synchronizer
	url = https://github.com/Omniverse-Web3-Labs/omniverse-synchronizer.git
[submodule "submodules/omniverse-evm"]
	path = submodules/omniverse-evm
	url = https://github.com/Omniverse-Web3-Labs/omniverse-evm.git
[submodule "submodules/omniverse-database"]
	path = submodules/omniverse-database
	url = https://github.com/Omniverse-Web3-Labs/omniverse-database.git
[submodule "submodules/omniverse-swap-tools"]
	path = submodules/omniverse-swap-tools
	url = https://github.com/Omniverse-Web3-Labs/omniverse-swap-tools.git
[submodule "submodules/omniverse-service"]
	path = submodules/omniverse-service
	url = https://github.com/Omniverse-Web3-Labs/omniverse-service.git
[submodule "omniverse-bitcoin-backend"]
	path = omniverse-bitcoin-backend
	url = https://github.com/Omniverse-Web3-Labs/omniverse-bitcoin-backend.git
